@import './base.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  /* Remove any default margin */
  padding: 0;
  /* Remove any default padding */
  overflow-x: hidden;
  /* Prevent horizontal overflow */
}

#app {
  inline-size: 100%;
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: initial;
  background: linear-gradient(135deg, #add8e6, #ffffff, #add8e6);
  /* Changed second color to light blue */
}

p,
span,
div {
  word-wrap: break-word;
  word-break: break-word;
}
